
USE [db_ac9276_schoolmanager]
GO
/****** Object:  Table [dbo].[academic_years]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academic_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[year] [nvarchar](20) NULL,
	[description] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[advisor_classe_sections]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisor_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](200) NULL,
	[total_floors] [tinyint] NULL,
	[building_type] [varchar](10) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_sections]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[course_id] [uniqueidentifier] NULL,
	[semester_id] [uniqueidentifier] NULL,
	[academic_year] [nvarchar](20) NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[building_id] [uniqueidentifier] NULL,
	[max_students] [int] NOT NULL,
	[min_students] [int] NULL,
	[class_type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[registration_start] [datetime2](7) NULL,
	[registration_end] [datetime2](7) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[credits] [decimal](5, 1) NULL,
	[course_type] [varchar](20) NULL,
	[theory_hours] [decimal](5, 1) NULL,
	[practice_hours] [decimal](5, 1) NULL,
	[self_study_hours] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[established_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_positions]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_positions](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[department_id] [uniqueidentifier] NULL,
	[position_id] [uniqueidentifier] NULL,
	[hire_date] [date] NULL,
	[contract_type] [nvarchar](255) NULL,
	[salary_coefficient] [decimal](4, 2) NULL,
	[academic_degree] [nvarchar](100) NULL,
	[academic_title] [nvarchar](100) NULL,
	[specialization] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturer_course_classes]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturer_course_classes](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NULL,
	[course_class_id] [uniqueidentifier] NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[effective_date] [varchar](20) NULL,
	[expiry_date] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[level] [nvarchar](100) NULL,
	[department_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[building_id] [uniqueidentifier] NULL,
	[floor_floor_number] [int] NULL,
	[capacity] [int] NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[has_projector] [bit] NULL,
	[has_air_conditioner] [bit] NULL,
	[has_computer] [bit] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[room_id] [uniqueidentifier] NULL,
	[day_of_week] [int] NULL,
	[date] [date] NULL,
	[shift] [nvarchar](50) NULL,
	[start_period] [int] NULL,
	[end_period] [int] NULL,
	[number_of_periods] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[mode] [nvarchar](100) NULL,
	[status] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[schedule_status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_slots]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_slots](
	[id] [uniqueidentifier] NOT NULL,
	[slot_code] [nvarchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
CONSTRAINT [UQ_time_slots_slot_code] UNIQUE NONCLUSTERED 
(
	[slot_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_years]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_years](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[semesters]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semesters](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[school_year_id] [uniqueidentifier] NULL,
	[school_year_name] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classe_sections]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classe_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[student_classe_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_classes]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_classes](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[academic_year_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[employee_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_course_sections]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_course_sections](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[course_section_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](50) NULL,
	[registered_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[personal_identification_number] [varchar](20) NULL,
	[date_of_issue] [date] NULL,
	[card_place] [nvarchar](100) NULL,
	[address] [nvarchar](300) NULL,
	[current_address] [nvarchar](300) NULL,
	[academic_year_year] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[major_id] [uniqueidentifier] NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[status] [varchar](50) NULL,
	[student_classe_id] [uniqueidentifier] NULL,
	[admission_year] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_program_courses]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_program_courses](
	[id] [uniqueidentifier] NOT NULL,
	[training_program_id] [uniqueidentifier] NULL,
	[course_id] [uniqueidentifier] NULL,
	[course_code] [varchar](100) NULL,
	[course_name] [nvarchar](255) NULL,
	[semester_id] [uniqueidentifier] NULL,
	[semester_code] [nvarchar](100) NULL,
	[academic_year] [nvarchar](20) NULL,
	[is_required] [bit] NULL,
	[group_code] [nvarchar](50) NULL,
	[credits] [decimal](5, 1) NULL,
	[prerequisite_course_id] [uniqueidentifier] NULL,
	[is_prerequisite_required] [bit] NULL,
	[note] [nvarchar](500) NULL,
	[sort_order] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_programs]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_programs](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[name_en] [nvarchar](255) NULL,
	[major_id] [uniqueidentifier] NULL,
	[department_id] [uniqueidentifier] NULL,
	[degree_level] [nvarchar](50) NULL,
	[education_type] [nvarchar](50) NULL,
	[total_credits] [decimal](5, 1) NULL,
	[required_credits] [decimal](5, 1) NULL,
	[elective_credits] [decimal](5, 1) NULL,
	[internship_credits] [decimal](5, 1) NULL,
	[thesis_credits] [decimal](5, 1) NULL,
	[admission_year] [date] NULL,
	[duration_years] [decimal](5, 1) NULL,
	[max_duration_years] [decimal](5, 1) NULL,
	[effective_date] [date] NULL,
	[expiry_date] [date] NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](max) NULL,
	[learning_outcomes] [nvarchar](max) NULL,
	[version] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 08/04/2026 7:40:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[grade_components] (
    [id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    [course_section_id] UNIQUEIDENTIFIER,
    [component_code] VARCHAR(20),
    [component_name] NVARCHAR(50),
    [weight_percentage] DECIMAL(5, 2), -- Ví dụ: 10.00
    [min_score] DECIMAL(4, 2),
    [max_score] DECIMAL(4, 2) DEFAULT 10.00,
    [is_required] BIT DEFAULT 1,
    [input_order] INT,
    [is_active] BIT DEFAULT 1,
    [created_at] DATETIME2 DEFAULT CURRENT_TIMESTAMP,
    [updated_at] DATETIME2 DEFAULT CURRENT_TIMESTAMP,
    [created_by] UNIQUEIDENTIFIER,
    [updated_by] UNIQUEIDENTIFIER,
    [deleted_at] DATETIME2,
    [deleted_by] UNIQUEIDENTIFIER,
    CONSTRAINT [PK_grade_components] PRIMARY KEY ([id]),
    CONSTRAINT [FK_grade_components_course_sections] FOREIGN KEY ([course_section_id]) REFERENCES [dbo].[course_sections]([id])
);
GO

CREATE TABLE [dbo].[grade_scales] (
    [id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    [scale_code] VARCHAR(10),
    [min_score] DECIMAL(4, 2),
    [max_score] DECIMAL(4, 2),
    [letter_grade] VARCHAR(2), -- A, B+, B, C+, ...
    [gpa_value] DECIMAL(3, 2), -- 4.0, 3.5, 3.0, 2.5...
    [is_pass] BIT,
    [is_active] BIT DEFAULT 1,
    [created_at] DATETIME2 DEFAULT CURRENT_TIMESTAMP,
    [updated_at] DATETIME2 DEFAULT CURRENT_TIMESTAMP,
    [created_by] UNIQUEIDENTIFIER,
    [updated_by] UNIQUEIDENTIFIER,
    [deleted_at] DATETIME2,
    [deleted_by] UNIQUEIDENTIFIER,
    CONSTRAINT [PK_grade_scales] PRIMARY KEY ([id])
);
GO

CREATE TABLE [dbo].[student_grades] (
    [id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    [registration_id] UNIQUEIDENTIFIER,
    [grade_component_id] UNIQUEIDENTIFIER NULL, -- NULL nếu là điểm tổng kết toàn môn
    [score] DECIMAL(4, 2),
    [is_total] BIT DEFAULT 0,
    [is_retake] BIT DEFAULT 0,
    [is_locked] BIT DEFAULT 0,
    [note] NVARCHAR(255),
    [letter_grade] VARCHAR(2) NULL, -- Chỉ có nếu is_total = 1
    [gpa_value] DECIMAL(3, 2) NULL, -- Chỉ có nếu is_total = 1
    [result] VARCHAR(10) NULL,      -- PASS/FAIL
    [scale_id] UNIQUEIDENTIFIER NULL,
    [is_finalized] BIT DEFAULT 0,
    [is_active] BIT DEFAULT 1,
    [created_at] DATETIME2 DEFAULT CURRENT_TIMESTAMP,
    [updated_at] DATETIME2 DEFAULT CURRENT_TIMESTAMP,
    [created_by] UNIQUEIDENTIFIER,
    [updated_by] UNIQUEIDENTIFIER,
    [deleted_at] DATETIME2,
    [deleted_by] UNIQUEIDENTIFIER,
    CONSTRAINT [PK_student_grades] PRIMARY KEY ([id]),

    
    CONSTRAINT [FK_student_grades_registrations] FOREIGN KEY ([registration_id]) REFERENCES [dbo].[student_course_sections]([id]),
    
    CONSTRAINT [FK_student_grades_components] FOREIGN KEY ([grade_component_id]) REFERENCES [dbo].[grade_components]([id]),
    CONSTRAINT [FK_student_grades_scales] FOREIGN KEY ([scale_id]) REFERENCES [dbo].[grade_scales]([id])
);
GO

INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'eece1249-3506-4dc8-8b8a-0495425e6a49', N'AY2017', N'Niên khóa 2017-2020', N'2017-2020', N'Niên khóa từ 2017 đến 2020', CAST(N'2017-09-01' AS Date), CAST(N'2020-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63b3f5ab-772b-43c1-8cdb-2cba1e8420a3', N'AY2031', N'Niên khóa 2031-2034', N'2031-2034', N'Niên khóa từ 2031 đến 2034', CAST(N'2031-09-01' AS Date), CAST(N'2034-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[academic_years] ([id], [code], [name], [year], [description], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'49a45afd-8a3f-4163-b137-4bd659b24aa9', N'AY2021', N'Niên khóa 2021-2024', N'2021-2024', N'Niên khóa từ 2021 đến 2024', CAST(N'2021-09-01' AS Date), CAST(N'2024-06-30' AS Date), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), CAST(N'2026-04-02T15:59:51.1233333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a835541a-f0e8-4766-84c2-0abd2bc77e1b', N'TT', N'Khoa Truyền thông', N'Đào tạo truyền thông đa phương tiện', CAST(N'2012-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3bfc60aa-62e8-4107-abf0-1a436c0b1349', N'NN', N'Khoa Ngoại ngữ', N'Đào tạo ngoại ngữ', CAST(N'2003-01-01' AS Date), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), CAST(N'2026-04-02T17:19:36.4400000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[departments] ([id], [code], [name], [description], [established_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'bc808290-ef1f-472a-b24e-1e4d19380b83', N'LOG', N'Khoa Logistics', N'Đào tạo logistics và chuỗi cung ứng', CAST(N'2016-01-01' AS Date), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), CAST(N'2026-04-02T17:16:56.1700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'94844a40-f7c5-47f0-864b-00ebe8d79154', N'5890f569-0f42-440b-8fa4-2e88f56fd8c5', N'MJ00017', N'Logistics và Quản lý chuỗi cung ứng 49', N'Ngành đào tạo chuyên sâu 31', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a110231c-019c-46f0-84f8-0205fc7679f8', N'c26c9041-030e-4459-af90-8e81dc2d21a9', N'MJ00023', N'Logistics và Quản lý chuỗi cung ứng 41', N'Ngành đào tạo chuyên sâu 8', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[majors] ([id], [department_id], [code], [name], [description], [effective_date], [expiry_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7470b351-d46b-49a2-a7aa-02c53385de85', N'96ee7061-516b-4a25-a787-3780c4bbe82c', N'MJ00033', N'Marketing 19', N'Ngành đào tạo chuyên sâu 38', N'2020', NULL, CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), CAST(N'2026-04-02T18:28:38.2533333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'51c01684-ea1a-4bec-be77-065031935cb3', N'USER_VIEW', N'Xem danh sách người dùng', N'USER', N'Cho phép xem danh sách người dùng', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ea9282f5-90c3-4071-b89d-06a8e482d935', N'CLASS_APPROVE', N'Duyệt lớp học phần', N'CLASS', N'Duyệt mở lớp học phần', CAST(N'2026-04-02T13:41:42.2633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'3007f48f-2b32-4d0f-b182-08355a33843f', N'ROLE_CREATE', N'Tạo vai trò', N'ROLE', N'Tạo mới vai trò', CAST(N'2026-04-02T13:38:23.6933333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6917d6aa-bb7f-4612-9e7c-04f0c174213b', N'GV', N'Giảng viên', N'Giảng dạy sinh viên', N'Nhân sự', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a0f31994-f76f-424c-81eb-0575790f68dc', N'AIENG', N'Kỹ sư AI', N'Phát triển AI', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[positions] ([id], [code], [name], [description], [level], [department_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'fda6a4a1-2e36-4a8e-b519-125006a7aa95', N'TEST', N'Kiểm thử phần mềm', N'Tester', N'Kỹ thuật', NULL, CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), CAST(N'2026-04-02T17:39:10.0666667' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ed2247d6-8e00-4ad5-85d1-00a67dac9252', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'6b2962cd-278d-4a81-a079-f020f1ae2e9e', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c007b5aa-a8b6-4c5b-a45a-02ee46118515', N'bc249543-2fe1-4fdd-bb6f-42a1982caea2', N'02653ecb-41d6-495b-aac0-d137b9340a45', CAST(N'2026-04-02T14:00:01.9600000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c3bbf4e-ac52-45da-b15c-09488debb179', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', N'b041cbbc-5469-476e-bea5-fcd6ae1f168a', CAST(N'2026-04-02T13:59:10.9233333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'891a6149-a667-4965-a9c1-2021df86f733', N'IT_SUPPORT', N'Nhân viên IT', N'Hỗ trợ kỹ thuật hệ thống', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'7d5a7247-cb46-417c-b9f5-2be07823d938', N'STUDENT', N'Sinh viên', N'Đăng ký học phần và xem điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'63da3dbc-c052-4ad4-9522-38f937646865', N'LECTURER', N'Giảng viên', N'Giảng dạy và nhập điểm', 0, CAST(N'2026-04-02T13:48:23.1300000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'24806991-3c90-4139-9e47-0e2ceaa05230', N'SY2030', N'Năm học 2030-2031', N'Năm học từ 2030 đến 2031', NULL, CAST(N'2030-09-01' AS Date), CAST(N'2031-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'115fd0d2-2578-4c46-9f0e-0f22f539805e', N'SY2016', N'Năm học 2016-2017', N'Năm học từ 2016 đến 2017', NULL, CAST(N'2016-09-01' AS Date), CAST(N'2017-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[school_years] ([id], [code], [name], [description], [note], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ade33bc3-1440-47fd-9a72-3c0a2f8e5813', N'SY2017', N'Năm học 2017-2018', N'Năm học từ 2017 đến 2018', NULL, CAST(N'2017-09-01' AS Date), CAST(N'2018-06-30' AS Date), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), CAST(N'2026-04-02T16:03:10.7200000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e941f638-e0ae-48d8-b0a4-6c356af20048', N'HK1_2014_2015', N'Học kỳ 1 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2014-09-01' AS Date), CAST(N'2015-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), CAST(N'2026-04-02T17:05:26.3333333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'66112440-b80c-49b9-a774-ae728cd1731a', N'HK2_2014_2015', N'Học kỳ 2 năm học 2014-2015', N'84e45293-813a-4891-b233-b2b66b195c04', N'Năm học 2014-2015', CAST(N'2015-01-16' AS Date), CAST(N'2015-06-30' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[semesters] ([id], [code], [name], [school_year_id], [school_year_name], [start_date], [end_date], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ec5ca34f-7ff7-43f6-a514-7d3e1acff750', N'HK1_2015_2016', N'Học kỳ 1 năm học 2015-2016', N'21f9301f-e941-480f-9e7c-aa527e5b3be4', N'Năm học 2015-2016', CAST(N'2015-09-01' AS Date), CAST(N'2016-01-15' AS Date), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), CAST(N'2026-04-02T17:05:26.3700000' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'1c415e13-19cf-493f-8e52-032fd22bc10a', N'user09', N'hash123', N'Trần Văn B4', N'user09@gmail.com', N'0900000009', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'e6dc4407-8d7f-4327-9f30-0546b5e334c2', N'user07', N'hash123', N'Trần Văn B2', N'user07@gmail.com', N'0900000007', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [email], [phone], [avatar_url], [last_login_at], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'0d2ad352-b053-42b2-ae91-0e9ecc17dc35', N'user35', N'hash123', N'User 35', N'user35@gmail.com', N'0900000035', NULL, CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), CAST(N'2026-04-01T10:09:40.6733333' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF914E4EFA6]    Script Date: 08/04/2026 7:40:32 AM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 08/04/2026 7:40:32 AM ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF952A7F20D]    Script Date: 08/04/2026 7:40:32 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__student___357D4CF96F8EDC59]    Script Date: 08/04/2026 7:40:32 AM ******/
ALTER TABLE [dbo].[student_classes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__357D4CF99EECE1F0]    Script Date: 08/04/2026 7:40:32 AM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 08/04/2026 7:40:32 AM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[advisor_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((0)) FOR [min_students]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (N'open') FOR [status]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (N'lecturer') FOR [role]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lecturer_course_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[majors] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'offline') FOR [mode]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ('active') FOR [schedule_status]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[school_years] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classe_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_classes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_course_sections] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('studying') FOR [status]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_program_courses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[training_programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(2) AND [day_of_week]<=(8)))
GO




-- Dữ liệu các môn học cho các ngành
-- Khoa Công nghệ Thông tin

-- Khoa Kỹ thuật Máy tính

-- Khoa Cơ khí

-- Khoa Kế toán

-- Khoa Tài chính - Ngân hàng

-- Khoa Quản trị Kinh doanh
GO
-- Khoa Xây dựng

-- Khoa Ngoại ngữ

-- Khoa Điện - Điện tử
GO
-- Khoa Trí tuệ Nhân tạo
GO
-- Khoa Y
GO
-- Khoa Dược
GO
-- Khoa Toán học

-- Khoa Vật lý

-- Khoa Hóa học

-- Khoa Sinh học

-- Khoa Sư phạm

-- Khoa Logistics

-- Khoa Truyền thông

-- Khoa Thiết kế

-- Khoa Báo chí

-- Khoa Du lịch

-- Khoa Luật

-- Khoa Kinh tế Quốc tế

-- Khoa An toàn Thông tin

-- Khoa Điều dưỡng

-- Khoa Răng Hàm Mặt

-- Khoa Môi trường

-- Khoa Công nghệ Ô tô
GO
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'5f6f0d7b-c5c1-4a65-8e68-b07f12345678', N'c1e5b8a7-9f0d-4c3e-8a1b-9f2d5c6e7f8a', N'd81d33a6-e683-4598-9f9a-b4300faf4ccf', CAST(N'2026-04-02T16:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'2a0e4d8c-3b5f-4c0a-8d1a-94f8a1b2c3d4', N'85d9c685-3b39-4258-a9e6-6b8876d4d7f5', N'7d5a7247-cb46-417c-b9f5-2be07823d938', CAST(N'2026-04-02T16:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'be7c2f19-3d64-4a2f-9cbb-5dbec1234567', N'e6dc4407-8d7f-4327-9f30-0546b5e334c2', N'63da3dbc-c052-4ad4-9522-38f937646865', CAST(N'2026-04-02T16:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
-- DATA FOR course_sections
INSERT [dbo].[course_sections] ([id], [code], [course_id], [semester_id], [academic_year],[employee_id], [max_students], [min_students], [class_type], [status], [is_active], [created_at]) VALUES (N'c673a718-a2fe-4521-84c7-087a88ccdf2a', N'CS2026-001', N'c6d8e9f0-a1b2-4c3d-8e4f-5a6b7c8d9e0f', N'e941f638-e0ae-48d8-b0a4-6c356af20048', N'AY2025',N'e6dc4407-8d7f-4327-9f30-0546b5e334c2', 50, 10, N'Lý thuyết', N'OPEN', 1, CURRENT_TIMESTAMP)
INSERT [dbo].[course_sections] ([id], [code], [course_id], [semester_id], [academic_year], [max_students], [min_students], [class_type], [status], [is_active], [created_at]) VALUES (N'a410d1e7-1754-4529-8202-a5fa51109f34', N'CS2026-002', N'd7e9f0a1-b2c3-4d5e-9f0a-6b7c8d9e0f1a', N'66112440-b80c-49b9-a774-ae728cd1731a', N'AY2025', 50, 10, N'Lý thuyết', N'OPEN', 1, CURRENT_TIMESTAMP)
INSERT [dbo].[course_sections] ([id], [code], [course_id], [semester_id], [academic_year], [max_students], [min_students], [class_type], [status], [is_active], [created_at]) VALUES (N'318a2de3-35cf-4e8e-a522-e7799fa01a1a', N'CS2026-003', N'e8f0a1b2-c3d4-4e6f-0a1b-7c8d9e0f1a2b', N'ec5ca34f-7ff7-43f6-a514-7d3e1acff750', N'AY2025', 50, 10, N'Lý thuyết', N'OPEN', 1, CURRENT_TIMESTAMP)

-- DATA FOR schedules
INSERT [dbo].[schedules] ([id], [course_section_id], [day_of_week], [shift], [start_period], [end_period], [number_of_periods], [mode], [status], [schedule_status], [is_active], [created_at]) VALUES (N'22ac6955-0034-4626-ae13-47ad8109ef42', N'c673a718-a2fe-4521-84c7-087a88ccdf2a', 2, N'Sáng', 1, 3, 3, N'OFFLINE', N'ACTIVE', N'SCHEDULED', 1, CURRENT_TIMESTAMP)
INSERT [dbo].[schedules] ([id], [course_section_id], [day_of_week], [shift], [start_period], [end_period], [number_of_periods], [mode], [status], [schedule_status], [is_active], [created_at]) VALUES (N'2d71d430-0504-4c70-83c9-a64073355e71', N'a410d1e7-1754-4529-8202-a5fa51109f34', 3, N'Chiều', 1, 3, 3, N'OFFLINE', N'ACTIVE', N'SCHEDULED', 1, CURRENT_TIMESTAMP)
INSERT [dbo].[schedules] ([id], [course_section_id], [day_of_week], [shift], [start_period], [end_period], [number_of_periods], [mode], [status], [schedule_status], [is_active], [created_at]) VALUES (N'32cce9cd-063d-47df-b9e6-2f0b8378dc78', N'318a2de3-35cf-4e8e-a522-e7799fa01a1a', 4, N'Sáng', 1, 3, 3, N'OFFLINE', N'ACTIVE', N'SCHEDULED', 1, CURRENT_TIMESTAMP)

GO
-- DATA FOR student_course_sections
INSERT [dbo].[student_course_sections] ([id], [student_id], [course_section_id], [status], [registered_at], [note], [created_at], [updated_at], [is_active]) VALUES (N'40000001-0001-4001-a001-000000000001', N'9ed2568b-837e-4e57-b617-fb8705a8e18f', N'c673a718-a2fe-4521-84c7-087a88ccdf2a', N'ENROLLED', CURRENT_TIMESTAMP, N'Dữ liệu mẫu cho sinh viên user01', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)
INSERT [dbo].[student_course_sections] ([id], [student_id], [course_section_id], [status], [registered_at], [note], [created_at], [updated_at], [is_active]) VALUES (N'40000002-0001-4001-a001-000000000002', N'86034039-c804-415c-a892-00eff71e2ef7', N'a410d1e7-1754-4529-8202-a5fa51109f34', N'ENROLLED', CURRENT_TIMESTAMP, N'Dữ liệu mẫu cho sinh viên user30', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)
INSERT [dbo].[student_course_sections] ([id], [student_id], [course_section_id], [status], [registered_at], [note], [created_at], [updated_at], [is_active]) VALUES (N'40000003-0001-4001-a001-000000000003', N'c0244a61-790e-4ad2-b291-10a6450c0bbe', N'318a2de3-35cf-4e8e-a522-e7799fa01a1a', N'ENROLLED', CURRENT_TIMESTAMP, N'Dữ liệu mẫu cho sinh viên đang học', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)

GO
-- DATA FOR time_slots
INSERT [dbo].[time_slots] ([id], [slot_code], [start_time], [end_time], [created_at], [updated_at], [is_active]) VALUES (N'd1000001-0001-4001-a001-000000000001', N'SANG_CA1', CAST(N'07:00:00' AS Time), CAST(N'09:15:00' AS Time), CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)
INSERT [dbo].[time_slots] ([id], [slot_code], [start_time], [end_time], [created_at], [updated_at], [is_active]) VALUES (N'd1000002-0001-4001-a001-000000000002', N'SANG_CA2', CAST(N'09:45:00' AS Time), CAST(N'12:00:00' AS Time), CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)
INSERT [dbo].[time_slots] ([id], [slot_code], [start_time], [end_time], [created_at], [updated_at], [is_active]) VALUES (N'd1000003-0001-4001-a001-000000000003', N'CHIEU_CA1', CAST(N'13:00:00' AS Time), CAST(N'15:15:00' AS Time), CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)
GO

-- DATA FOR student_classes
INSERT [dbo].[student_classes] ([id], [code], [name], [academic_year_id], [department_id], [major_id], [training_program_id], [employee_id], [created_at], [is_active]) VALUES (N'b1000001-0001-4001-a001-000000000001', N'CNTT26A', N'Lớp Công nghệ thông tin 26A', N'6bed2172-1462-4854-a2dd-537c143e0b58', N'08c3d0ed-7842-421b-8347-f145ab0640e9', N'047ac5e7-db88-4d6a-889d-126e6453fd22', N'fc635646-aece-42d5-a132-6db80357cd61', NULL, CURRENT_TIMESTAMP, 1)
INSERT [dbo].[student_classes] ([id], [code], [name], [academic_year_id], [department_id], [major_id], [training_program_id], [employee_id], [created_at], [is_active]) VALUES (N'b1000002-0001-4001-a001-000000000002', N'CNTT26B', N'Lớp Công nghệ thông tin 26B', N'6bed2172-1462-4854-a2dd-537c143e0b58', N'08c3d0ed-7842-421b-8347-f145ab0640e9', N'047ac5e7-db88-4d6a-889d-126e6453fd22', N'fc635646-aece-42d5-a132-6db80357cd61', NULL, CURRENT_TIMESTAMP, 1)
INSERT [dbo].[student_classes] ([id], [code], [name], [academic_year_id], [department_id], [major_id], [training_program_id], [employee_id], [created_at], [is_active]) VALUES (N'b1000003-0001-4001-a001-000000000003', N'CNTT26C', N'Lớp Công nghệ thông tin 26C', N'6bed2172-1462-4854-a2dd-537c143e0b58', N'08c3d0ed-7842-421b-8347-f145ab0640e9', N'047ac5e7-db88-4d6a-889d-126e6453fd22', N'fc635646-aece-42d5-a132-6db80357cd61', NULL, CURRENT_TIMESTAMP, 1)
GO

ALTER TABLE [dbo].[student_classes]  WITH CHECK ADD CONSTRAINT [FK_student_classes_academic_years]
FOREIGN KEY([academic_year_id]) REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[student_classes] CHECK CONSTRAINT [FK_student_classes_academic_years]
GO
ALTER TABLE [dbo].[student_classes]  WITH CHECK ADD CONSTRAINT [FK_student_classes_departments]
FOREIGN KEY([department_id]) REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[student_classes] CHECK CONSTRAINT [FK_student_classes_departments]
GO
ALTER TABLE [dbo].[student_classes]  WITH CHECK ADD CONSTRAINT [FK_student_classes_majors]
FOREIGN KEY([major_id]) REFERENCES [dbo].[majors] ([id])
GO
ALTER TABLE [dbo].[student_classes] CHECK CONSTRAINT [FK_student_classes_majors]
GO
ALTER TABLE [dbo].[student_classes]  WITH CHECK ADD CONSTRAINT [FK_student_classes_training_programs]
FOREIGN KEY([training_program_id]) REFERENCES [dbo].[training_programs] ([id])
GO
ALTER TABLE [dbo].[student_classes] CHECK CONSTRAINT [FK_student_classes_training_programs]
GO
ALTER TABLE [dbo].[student_classes]  WITH CHECK ADD CONSTRAINT [FK_student_classes_employees]
FOREIGN KEY([employee_id]) REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[student_classes] CHECK CONSTRAINT [FK_student_classes_employees]
GO



INSERT [dbo].[grade_scales] ([id], [scale_code], [min_score], [max_score], [letter_grade], [gpa_value], [is_pass], [is_active]) 
VALUES (NEWID(), 'KEM', 0.00, 3.94, 'F', 0.00, 0, 1);

INSERT [dbo].[grade_scales] ([id], [scale_code], [min_score], [max_score], [letter_grade], [gpa_value], [is_pass], [is_active]) 
VALUES (NEWID(), 'TBYEU', 3.95, 5.44, 'D', 1.00, 1, 1);

INSERT [dbo].[grade_scales] ([id], [scale_code], [min_score], [max_score], [letter_grade], [gpa_value], [is_pass], [is_active]) 
VALUES (NEWID(), 'TB', 5.45, 6.94, 'C', 2.00, 1, 1);


GO





DECLARE @id_cc UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'CC');
DECLARE @id_tx UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'TX');
DECLARE @id_gk UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'GK');
DECLARE @id_ck UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'CK');

INSERT [dbo].[student_grades] ([id], [registration_id], [grade_component_id], [score], [is_total], [is_locked], [is_active], [created_at])
VALUES 
(NEWID(), N'0e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b', @id_cc, 10.00, 0, 1, 1, CURRENT_TIMESTAMP), -- Chuyên cần 10 điểm
(NEWID(), N'0e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b', @id_tx, 8.50, 0, 1, 1, CURRENT_TIMESTAMP),  -- Thường xuyên 8.5 điểm
(NEWID(), N'0e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b', @id_gk, 7.00, 0, 1, 1, CURRENT_TIMESTAMP),  -- Giữa kỳ 7 điểm
(NEWID(), N'0e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b', @id_ck, 8.00, 0, 1, 1, CURRENT_TIMESTAMP);  -- Cuối kỳ 8 điểm

DECLARE @scale_kha UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_scales] WHERE scale_code = 'KHA');
INSERT [dbo].[student_grades] ([id], [registration_id], [grade_component_id], [score], [is_total], [letter_grade], [gpa_value], [result], [scale_id], [is_locked], [is_finalized], [is_active], [created_at])
VALUES 
(NEWID(), N'0e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b', NULL, 8.10, 1, 'B', 3.00, 'PASS', @scale_kha, 1, 1, 1, CURRENT_TIMESTAMP);



-- Dữ liệu điểm chi tiết cho user01 (registration_id = 40000001-0001-4001-a001-000000000001)
DECLARE @id_cc_user01 UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'CC');
DECLARE @id_tx_user01 UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'TX');
DECLARE @id_gk_user01 UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'GK');
DECLARE @id_ck_user01 UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_components] WHERE course_section_id = N'c673a718-a2fe-4521-84c7-087a88ccdf2a' AND component_code = 'CK');

  -- Cuối kỳ 9.5 điểm

-- Điểm tổng kết toàn môn (Tổng kết: 9*0.1 + 8*0.2 + 8.5*0.2 + 9.5*0.5 = 0.9 + 1.6 + 1.7 + 4.75 = 8.95)
DECLARE @scale_gioi UNIQUEIDENTIFIER = (SELECT id FROM [dbo].[grade_scales] WHERE scale_code = 'GIOI');



-- Bổ sung 20 sinh viên vào lớp học phần a78dec15-8df5-42da-b131-01a8862f7656

GO

INSERT [dbo].[grade_components] ([id], [course_section_id], [component_code], [component_name], [weight_percentage], [min_score], [max_score], [is_required], [input_order], [is_active], [created_at]) VALUES (NEWID(), N'a78dec15-8df5-42da-b131-01a8862f7656', N'CC', N'Chuyên cần', 10.00, 0.00, 10.00, 1, 1, 1, CURRENT_TIMESTAMP);
INSERT [dbo].[grade_components] ([id], [course_section_id], [component_code], [component_name], [weight_percentage], [min_score], [max_score], [is_required], [input_order], [is_active], [created_at]) VALUES (NEWID(), N'a78dec15-8df5-42da-b131-01a8862f7656', N'TX', N'Thường xuyên', 25.00, 0.00, 10.00, 1, 2, 1, CURRENT_TIMESTAMP);


-- 1. STUDENT — Hồ sơ, Lịch học, Kết quả HT, Đăng ký HP
-- ============================================================
  -- ENROLL_CREATE

-- ============================================================
-- 2. LECTURER — Bổ sung thêm (đã có GRADE_INPUT, SCHEDULE_VIEW)
-- ============================================================
  -- STUDENT_VIEW

-- ============================================================
-- 3. ACADEMIC_AFFAIR (Phòng đào tạo) — Quyền rộng nhất sau SA
-- ============================================================
  -- ENROLL_VIEW

-- ============================================================
-- 4. DEPARTMENT_HEAD (Trưởng khoa) — Quản lý khoa mình
-- ============================================================
  -- SCHEDULE_VIEW

-- ============================================================
-- 5. HEAD_OF_SUBJECT (Trưởng bộ môn) — Duyệt điểm, phân công GV
-- ============================================================
  -- SCHEDULE_VIEW

-- ============================================================
-- 6. ADVISOR (Cố vấn học tập) — Xem SV, Xem điểm
-- ============================================================
  -- SCHEDULE_VIEW

-- ============================================================
-- 7. FACULTY_STAFF (Giáo vụ khoa) — SV, LHP, Điểm
-- ============================================================
  -- COURSE_VIEW